%h2  Edit #{resource_name.to_s.humanize}

.row
  .col.s12
    .card
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .card-content
          = f.error_notification

          .row
            .s12
              = f.input :email, label: false, :wrapper => :vertical_form do
                %i.material-icons.prefix person
                = f.label :email, 'Email'
                = f.input_field :email, required: true, autofocus: true, class: 'validate'

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p Currently waiting confirmation for: #{resource.unconfirmed_email}

          .row
            .s12
              = f.input :password, label: false, :wrapper => :vertical_form do
                %i.material-icons.prefix lock
                = f.label :password, 'Password'
                = f.input_field :password , required: false, autocomplete: 'off', hint: "leave it blank if you don't want to change it"

          .row
            .s12
              = f.input :password_confirmation, label: false, :wrapper => :vertical_form do
                %i.material-icons.prefix lock
                = f.label :password_confirmation, 'Confirm password'
                = f.input_field :password_confirmation, required: false

          .divider
          .divider
          .divider
          .divider

          .row
            .s12
              = f.input :current_password, label: false, :wrapper => :vertical_form do
                %i.material-icons.prefix lock
                = f.label :password, 'Current Password'
                = f.input_field :password , required: true, autocomplete: 'off', hint: 'we need your current password to confirm your changes'


        .form-actions
          %button{:class => 'btn waves-effect waves-light', :type => 'submit', :name => 'commit'}
            %i.material-icons.right send
            Update

          = link_to :back, :class => 'right btn waves-effect waves-light white-text' do
            %i.material-icons.left undo
            Back

          %h3.red-text Cancel my account
          %p= link_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, :class => 'left btn waves-effect waves-light white-text red'

