-# Dropdown shown only when user is logged in.
%ul{ id: 'user-dropdown-menu', class: 'dropdown-content' }
  %li= link_to 'New Pin', new_pin_url
  %li.divider
  %li= link_to 'Account settings', edit_user_registration_url
  %li= link_to 'Sign out', destroy_user_session_url, method: :delete

%nav
  .nav-wrapper
    = link_to 'Pipapi', root_url, class: 'brand-logo waves-effect waves-light'
    %ul{ id: 'nav-mobile', class: 'right hide-on-med-and-down' }

      -# Show these menu-items only if the user is signed-in
      - if user_signed_in?
        %li
          %a(class="dropdown-button waves-effect waves-light" href="#!" data-activates="user-dropdown-menu")
            = current_user.email
            %i.material-icons.right arrow_drop_down
      - else
        %li= link_to 'Sign up', '#signUpModal', {:class => 'waves-effect waves-light modal-trigger'}
        %li= link_to 'Sign in', '#signInModal', {:class => 'waves-effect waves-light modal-trigger'}
