!!! 5
%html
  %head
    %title= (yield(:title) + ' :: ' unless yield(:title).blank?).to_s + 'Pipapi - Pinboard'
    %meta{ :content => 'A pinboard app I created for learning purposes.', :name => 'description' }
    %meta{ :content => 'tomschillemans@gmail.com', :name => 'author' }
    %link{ :href => 'https://fonts.googleapis.com/icon?family=Material+Icons', :rel => 'stylesheet' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags

  %body
    = render partial: 'shared/flash_messages', flash: flash

    = render 'shared/nav'

    .container
      - if !user_signed_in?
        = render 'shared/sign_in_modal'
        = render 'shared/sign_up_modal'

      = yield
